<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 2" parallel="tests" thread-count="2" >

    <listeners>
        <listener class-name="org.example.listners"/>
    </listeners>
    <test name="testingOnChrome">
        <parameter name="browser" value="remote"/>
        <groups>
            <run>
                <!--                <exclude name="dont run"/>-->
            </run>
        </groups>
        <classes>
            <class name="org.example.AppTest" />
        </classes>
    </test>

    <test name="testingOnFire">
        <parameter name="browser" value="remoteFire"/>
        <groups>
            <run>
                <!--                <exclude name="dont run"/>-->
            </run>
        </groups>
        <classes>
            <class name="org.example.AppTest" />
        </classes>
    </test>

    <test name="testingOnedge">
        <parameter name="browser" value="remoteEdge"/>
        <groups>
            <run>
                <!--                <exclude name="dont run"/>-->
            </run>
        </groups>
        <classes>
            <class name="org.example.AppTest" />
        </classes>
    </test>

    <test name="testingOnChrome2">
        <parameter name="browser" value="remote"/>
        <groups>
            <run>
                <!--                <exclude name="dont run"/>-->
            </run>
        </groups>
        <classes>
            <class name="org.example.AppTest" />
        </classes>
    </test>



</suite>